<div class="panel panel-default">
 <div class="panel-heading"></div>
 <div class="panel-body">
  <%= render partial: 'layouts/search_form', locals: { search_entity: 'especialidades', word: "Especialidades" } %>
  <br>
  <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
   <p>
     <%= link_to  new_especialidade_path, remote: true, class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nueva Especialidad
    <% end %>
    
     <%= link_to  new_medico_path, remote: true, class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Registrar Medico
    <% end %>
   </p>
  </div>
  
  
 </div>
 <%= render partial: 'result_search' %>
</div>