<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_consult.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_consult_path(@tipo_consult) %> |
<%= link_to 'Back', tipo_consults_path %>
