<div class="panel panel-default">
 <div class="panel-heading">Insumos</div>
 <div class="panel-body">
  <%= render partial: 'layouts/search_form', locals: { search_entity: 'insumos', word: "Insumos" } %>
  <br>
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
   <a   >
     <%= link_to  new_insumo_path, remote: true, class: "btn btn-primary" do %>
   <span class="glyphicon btn-glyphicon glyphicon-plus" aria-hidden="true"> </span> Agregar Insumos
    <% end %>
  
   <%= link_to  new_proveedore_path, remote: true , class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Proveedor
    <% end %>
     </a>
  </div>
   <br>

  
  </div>
  
 </div>
 <%= render partial: 'result_search' %>
</div>