<h1>Editing Detalle Internacione</h1>

<%= render 'form', detalle_internacione: @detalle_internacione %>

<%= link_to 'Show', @detalle_internacione %> |
<%= link_to 'Back', detalle_internaciones_path %>
