<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @unidades_medida.descripcion %>
</p>

<%= link_to 'Edit', edit_unidades_medida_path(@unidades_medida) %> |
<%= link_to 'Back', unidades_medidas_path %>
