<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @formas_pago.descripcion %>
</p>

<%= link_to 'Edit', edit_formas_pago_path(@formas_pago) %> |
<%= link_to 'Back', formas_pagos_path %>
