
<div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
   <p>
     <%= link_to  new_departamento_path, remote: true, class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Departamento
    <% end %>
   </p>
  </div>

<h1>Nuevas Ciudades</h1>

<%= render 'form', ciudade: @ciudade %>


