<h1>Editing Detallefactproveedore</h1>

<%= render 'form', detallefactproveedore: @detallefactproveedore %>

<%= link_to 'Show', @detallefactproveedore %> |
<%= link_to 'Back', detallefactproveedores_path %>
